Repository SecretFlow/secretflow: changes, and which CircleCI parameters are due for each by the changed paths.
All: base, infra, sf_maths, sf_ml, sf_preprocessing, sf_stats, sf_component, sf_any, sf_fl, test_ml, test_ml_nn, test_preprocessing, test_stats, test_infra, test_component, test_any

.circleci/config.yml:

# Copyright 2023 Ant Group Co., Ltd.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.2.0
  continuation: circleci/continuation@1.0.0

parameters:
  GHA_Actor:
    type: string
    default: ""
  GHA_Action:
    type: string
    default: ""
  GHA_Event:
    type: string
    default: ""
  GHA_Meta:
    type: string
    default: ""

workflows:
  unittest-workflow:
    when:
      and:
        - not: << pipeline.parameters.GHA_Action >>
        - not: << pipeline.parameters.GHA_Meta >>
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          tag: "3.9"
          mapping: |
            secretflow_lib/.*             base               true
            WORKSPACE                     base               true
            .bazelrc                      base               true
            requirements.txt              base               true
            dev-requirements.txt          base               true
            circleci/continue-config.yml  base               true
            .circleci/continue-config.yml base               true
            secretflow/data/.*            infra              true
            secretflow/device/.*          infra              true
            secretflow/distributed/.*     infra              true
            secreflow/kuscia/.*           infra              true
            secretflow/security/.*        infra              true
            secretflow/utils/.*           infra              true
            secretflow/maths/.*           sf_maths           true
            secretflow/ml/.*              sf_ml              true
            secretflow/preprocessing/.*   sf_preprocessing   true
            secretflow/stats/.*           sf_stats           true
            secretflow/component/.*       sf_component       true
            secretflow/.*                 sf_any             true
            secretflow_fl/.*              sf_fl              true
            tests/ml/.*                   test_ml            true
            tests/ml/nn/.*                test_ml_nn         true
            tests/preprocessing/.*        test_preprocessing true
            tests/stats/.*                test_stats         true
            tests/data/.*                 test_infra         true
            tests/device/.*               test_infra         true
            tests/security/.*             test_infra         true
            tests/utils/.*                test_infra         true
            tests/kuscia/.*               test_infra         true
            tests/component/.*            test_component     true
            tests/.*                      test_any           true
  publish-workflow:
    when:
      equal: ["publish_pypi", << pipeline.parameters.GHA_Meta >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/release-config.yml

pytest cpu // 4 current
  .circleci/continue-config.yml
Due: base

use 4 current
  .circleci/continue-config.yml
Due: base

disable fl when run nn
  .circleci/continue-config.yml
Due: base

update version
  CHANGELOG.md
  secretflow/version.py
Due: sf_any

update changelog
  CHANGELOG.md
Due: none

update version (#1912)
  CHANGELOG.md
  secretflow/version.py
Due: sf_any

update release-config
  .circleci/release-config.yml
Due: none

update release-config (#1913)
  .circleci/release-config.yml
Due: none

delete upload
  .circleci/release-config.yml
Due: none

update version
  secretflow/version.py
Due: sf_any

ignore fl/ml/nn
  .circleci/continue-config.yml
Due: base

adjust ml/nn to fl/mm/nn
  .circleci/continue-config.yml
Due: base

format
  docs/tutorial/SL_Training_with_compressor.ipynb
  docs/user_guide/federated_learning/vertical_federated_learning/SplitRec/efficiency/sl_compressor.ipynb
  secretflow/distributed/fed/proxy/grpc/fed_pb2_grpc.py
  secretflow/protos/secretflow/spec/extend/cluster.proto
  secretflow/protos/secretflow/spec/extend/sgb_model.proto
Due: infra, sf_any

Fixed #1867
  docs/tutorial/FedDataFrameDataLoader.ipynb
Due: none

Fixed#1867
  docs/tutorial/FedDataFrameDataLoader.ipynb
Due: none

make pytest 8 concurrent test
  .circleci/continue-config.yml
Due: base

change concurrent test count
  .circleci/continue-config.yml
Due: base

make ml_nn_sim concurrent num as 1
  .circleci/continue-config.yml
Due: base

change release name
  .circleci/release-config.yml
Due: none

fix:wrong variable name
  docs/locales/zh_CN/LC_MESSAGES/tutorial/spu_basics.po
Due: none

chore(ci): fix protobuf@3 homebrew formula disabled problem
  .circleci/continue-config.yml
Due: base

chore(ci): fix protobuf@3 homebrew formula disabled problem (#1919)
  .circleci/continue-config.yml
Due: base

【OSCP Docs】验证文档「在SecretFlow中加载csv数据」 #1867 (#1916)
  docs/tutorial/FedDataFrameDataLoader.ipynb
Due: none

【OSCP Docs】 验证文档「SS GLM」 (#1918)
  docs/locales/zh_CN/LC_MESSAGES/tutorial/spu_basics.po
Due: none

fix: add try-except;introduce ray to solve store limit
  docs/tutorial/ss_glm.ipynb
Due: none

fix:add try-except;introduce ray to solve store limit
  docs/tutorial/ss_glm.ipynb
Due: none

【OSCP Docs】 验证文档「SS GLM」 (#1920)
  docs/tutorial/ss_glm.ipynb
Due: none

add docs publish
  .circleci/continue-config.yml
Due: base

add orchestra in secretflow_fl
  secretflow_fl/ml/nn/applications/fl_orchestra_torch.py
  secretflow_fl/ml/nn/fl/backend/torch/strategy/orchestra.py
Due: sf_fl

add orchestra algorithm in secretflow_fl
  secretflow_fl/ml/nn/applications/__init__.py
  secretflow_fl/ml/nn/fl/backend/torch/strategy/__init__.py
  secretflow_fl/ml/nn/fl/fl_model.py
Due: sf_fl

fix: Optimizing the Orchestra Algorithm in SecretFlow-FL
  secretflow_fl/ml/nn/applications/fl_orchestra_torch.py
  secretflow_fl/ml/nn/fl/backend/torch/strategy/orchestra.py
Due: sf_fl

update
  .circleci/continue-config.yml
  .github/workflows/docs-publish.yml
Due: base

change circle to github action
  .circleci/continue-config.yml
Due: base

change circle to github action
  .github/workflows/docs-publish.yml
Due: none
