Repository SecretFlow/secretflow: changes, and which CircleCI parameters are due for each by the changed paths.
All: base, infra, sf_maths, sf_ml, sf_preprocessing, sf_stats, sf_component, sf_any, sf_fl, test_ml, test_ml_nn, test_preprocessing, test_stats, test_infra, test_component, test_any

.circleci/config.yml:

# Copyright 2023 Ant Group Co., Ltd.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.2.0
  continuation: circleci/continuation@1.0.0

parameters:
  GHA_Actor:
    type: string
    default: ""
  GHA_Action:
    type: string
    default: ""
  GHA_Event:
    type: string
    default: ""
  GHA_Meta:
    type: string
    default: ""

workflows:
  unittest-workflow:
    when:
      and:
        - not: << pipeline.parameters.GHA_Action >>
        - not: << pipeline.parameters.GHA_Meta >>
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          tag: "3.9"
          mapping: |
            secretflow_lib/.*             base               true
            WORKSPACE                     base               true
            .bazelrc                      base               true
            requirements.txt              base               true
            dev-requirements.txt          base               true
            circleci/continue-config.yml  base               true
            .circleci/continue-config.yml base               true
            secretflow/data/.*            infra              true
            secretflow/device/.*          infra              true
            secretflow/distributed/.*     infra              true
            secreflow/kuscia/.*           infra              true
            secretflow/security/.*        infra              true
            secretflow/utils/.*           infra              true
            secretflow/maths/.*           sf_maths           true
            secretflow/ml/.*              sf_ml              true
            secretflow/preprocessing/.*   sf_preprocessing   true
            secretflow/stats/.*           sf_stats           true
            secretflow/component/.*       sf_component       true
            secretflow/.*                 sf_any             true
            secretflow_fl/.*              sf_fl              true
            tests/ml/.*                   test_ml            true
            tests/ml/nn/.*                test_ml_nn         true
            tests/preprocessing/.*        test_preprocessing true
            tests/stats/.*                test_stats         true
            tests/data/.*                 test_infra         true
            tests/device/.*               test_infra         true
            tests/security/.*             test_infra         true
            tests/utils/.*                test_infra         true
            tests/kuscia/.*               test_infra         true
            tests/component/.*            test_component     true
            tests/.*                      test_any           true
  publish-workflow:
    when:
      equal: ["publish_pypi", << pipeline.parameters.GHA_Meta >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/release-config.yml

add docs publish (#1926)
  .github/workflows/docs-publish.yml
Due: none

feat: Add real model feature extraction to orchestra strategy
  secretflow_fl/ml/nn/applications/fl_orchestra_torch.py
  secretflow_fl/ml/nn/fl/backend/torch/strategy/orchestra.py
Due: sf_fl

fix: Resolve strategy name conflict in fl_orchestra_torch
  secretflow_fl/ml/nn/applications/fl_orchestra_torch.py
Due: sf_fl

repo-sync-2025-09-25
  secretflow/component/core/__init__.py
  secretflow/component/core/utils.py
  secretflow/component/ml/cluster/kmeans.py
  secretflow/component/ml/gaussian_process/gaussian_process_classifier.py
  secretflow/component/ml/naive_bayes/gaussian_naive_bayes.py
  secretflow/component/ml/neighbors/k_neighbors_classifier.py
  secretflow/component/model_export/model_export.py
  secretflow/component/preprocessing/data_prep/psi.py
  secretflow/component/translation.json
  secretflow/device/driver.py
  secretflow/distributed/__init__.py
  secretflow/distributed/op_context.py
  secretflow/distributed/primitive.py
  secretflow/ml/boost/core/data_preprocess.py
  secretflow/ml/cluster/kmeans.py
  secretflow/ml/gaussian_process/gaussian_process_classifier.py
  secretflow/ml/naive_bayes/gnb.py
  secretflow/ml/neighbors/knn.py
  secretflow/protos/secretflow/spec/extend/cluster.proto
  secretflow/security/aggregation/aggregator.py
  secretflow/utils/testing.py
  secretflow/version.py
  secretflow/wrapper/__init__.py
Due: infra, sf_ml, sf_component, sf_any

fix: ci
  .circleci/continue-config.yml
  .circleci/release-config.yml
Due: base

fix ci
  .circleci/release-config.yml
Due: none

fix dockerfile, conda fail
  docker/release/python.Dockerfile
Due: none

fix: upload fail if existing
  .circleci/release-config.yml
Due: none

fix docker build shell
  .bazelrc
  .bazelversion
  .circleci/config.yml
  .clang-format
  docker/release/build.sh
Due: base

Docs:修复FLModel设计文档笔误问题
  docs/locales/zh_CN/LC_MESSAGES/developer/design/flmodel.po
Due: none

【Docs】修复FLModel设计文档笔误问题（#1953）
  docs/locales/zh_CN/LC_MESSAGES/developer/design/flmodel.po
Due: none

repo-sync-2025-11-03T11:35:25+0800
  CHANGELOG.md
  secretflow/version.py
Due: sf_any

repo-sync-2025-11-03T11:48:26+0800
  .circleci/config.yml
Due: none

repo-sync-2025-11-03T11:54:10+0800
  docker/release/build.sh
Due: none

docs: Update installation guide with uv instructions and sfl dependency note
  docs/getting_started/installation.md
Due: none

docs: Update installation guides with uv instructions and sfl dependency note
  docs/CONTRIBUTING.md
  docs/getting_started/installation.md
Due: none

docs: correct uv commands and optimize doc dependency installation based on PR feedback
  docs/CONTRIBUTING.md
  docs/getting_started/installation.md
Due: none

[OSCP Docs] Fix typo: Congradulations -> Congratulations in WOE encoding doc - Fixed #1870
  docs/user_guide/preprocessing/WeightOfEvidenceEncoding.ipynb
Due: none

fix: typos in risk_control_scenario doc
  docs/locales/zh_CN/LC_MESSAGES/tutorial/risk_control_scenario.po
  docs/tutorial/risk_control_scenario.ipynb
Due: none

fix: VertBinSubstitution schema mismatch after train_test_split
  secretflow/preprocessing/binning/vert_bin_substitution.py
Due: sf_preprocessing, sf_any

refactor: improve _strip_index_columns per code review
  secretflow/preprocessing/binning/vert_bin_substitution.py
Due: sf_preprocessing, sf_any

1
  benchmark_examples/ashe_sgb/README.md
  benchmark_examples/ashe_sgb/benchmark.py
  benchmark_examples/ashe_sgb/entrypoint_netem.sh
  benchmark_examples/ashe_sgb/netem_clear.sh
  benchmark_examples/ashe_sgb/network_set.sh
  benchmark_examples/ashe_sgb/sf_heu-0.6.0b1-cp310-cp310-manylinux2014_x86_64.whl
  benchmark_examples/ashe_sgb/testFL.py
Due: none

1
  benchmark_examples/ashe_sgb/testFL.py
Due: none

Fix the standalone simulation running error in risk_control_scenario.ipynb
  docs/tutorial/risk_control_scenario.ipynb
  secretflow/distributed/op_context.py
Due: infra, sf_any

docs: update version to v1.14.0 and last-updated date
  docs/tutorial/risk_control_scenario.ipynb
Due: none

docs: fix typos and grammar in WOE encoding tutorial (#1865)
  docs/locales/zh_CN/LC_MESSAGES/user_guide/preprocessing/WeightOfEvidenceEncoding.po
  docs/user_guide/preprocessing/WeightOfEvidenceEncoding.ipynb
Due: none

docs: fix typos in data preprocessing tutorial (#1869)
  docs/locales/zh_CN/LC_MESSAGES/tutorial/data_preprocessing_with_data_frame.po
  docs/tutorial/data_preprocessing_with_data_frame.ipynb
Due: none

docs: add CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

docs: add contributor profile link to README
  README.md
Due: none
