Repository SecretFlow/secretflow: changes, and which CircleCI parameters are due for each by the changed paths.
All: cpp, requirements, workflow, sf_data, sf_device, sf_distributed, sf_kuscia, sf_maths, sf_security, sf_ml_boost, sf_utils, test_boost

tweak
  .circleci/continue-config.yml
Due: workflow

fix
  .circleci/continue-config.yml
Due: workflow

wip
  .circleci/config.yml
  .circleci/continue-config.yml
Due: workflow

conda
  .circleci/continue-config.yml
Due: workflow

more
  .circleci/continue-config.yml
Due: workflow

Exclude serving from requirements
  requirements.txt
Due: requirements

wip
  .circleci/continue-config.yml
Due: workflow

requires
  .circleci/continue-config.yml
Due: workflow

try
  .circleci/continue-config.yml
Due: workflow

fix path
  .circleci/continue-config.yml
Due: workflow

again
  .circleci/continue-config.yml
Due: workflow

print
  .circleci/continue-config.yml
Due: workflow

cpu only
  .circleci/continue-config.yml
Due: workflow

modify single model doc
  docs/tutorial/Transforming_SingleModel_to_SecretFlow_Federated_Learning.ipynb
Due: none

add index
  docs/tutorial/index.rst
Due: none

wip
  .circleci/config.yml
Due: none

format
  docs/tutorial/Transforming_SingleModel_to_SecretFlow_Federated_Learning.ipynb
Due: none

update format
  docs/tutorial/Transforming_SingleModel_to_SecretFlow_Federated_Learning.ipynb
Due: none

update
  docs/tutorial/Transforming_SingleModel_to_SecretFlow_Federated_Learning.ipynb
Due: none

refine
  .circleci/config.yml
  .circleci/continue-config.yml
Due: workflow

reuseable config
  .circleci/continue-config.yml
Due: workflow

reuse
  .circleci/continue-config.yml
Due: workflow

more reuse
  .circleci/continue-config.yml
Due: workflow

Path conditions:
  cpp: ((any of: secretflow_lib/.*) or (any of: WORKSPACE)) or (any of: .bazelrc)
  requirements: (any of: requirements.txt) or (any of: requirements-dev.txt)
  workflow: any of: .circleci/continue-config.yml
  sf_data: any of: secretflow/data/*
  sf_device: any of: secretflow/device/*
  sf_distributed: any of: secretflow/distributed/*
  sf_kuscia: any of: secreflow/kuscia/*
  sf_maths: any of: secretflow/maths/*
  sf_security: any of: secretflow/security/*
  sf_ml_boost: any of: secretflow/ml/boost/*
  sf_utils: any of: secretflow/utils/*
  test_boost: any of: tests/ml/boost/*
