Repository SecretFlow/secretflow: changes, and which CircleCI parameters are due for each by the changed paths.
All: base, infra, sf_maths, sf_ml, sf_preprocessing, sf_stats, sf_component, sf_any, sf_fl, test_ml, test_ml_nn, test_preprocessing, test_stats, test_infra, test_component, test_any

change main.ipynb
  examples/app/v_recommendation/bahe_bert4rec/main.ipynb
Due: none

Update driver.py
  secretflow/device/driver.py
Due: infra, sf_any

update driver.py
  secretflow/device/driver.py
Due: infra, sf_any

chore: update config for docs
  README.md
  README.zh-CN.md
  docs/CONTRIBUTING.md
  docs/Makefile
  docs/_static/CONTRIBUTING/preview-content.png
  docs/_static/CONTRIBUTING/preview-sitemap.png
  docs/api/index.rst
  docs/build.sh
  docs/component/comp_guide.rst
  docs/conf.py
  docs/developer/algorithm/secure_aggregation.ipynb
  docs/locales/zh_CN/LC_MESSAGES/user_guide/federated_learning/horizontal_federated_learning/fl_model.po
  docs/locales/zh_CN/LC_MESSAGES/user_guide/federated_learning/mix_federated_learning.po
  docs/locales/zh_CN/LC_MESSAGES/user_guide/federated_learning/vertical_federated_learning/split_learning.po
  docs/locales/zh_CN/LC_MESSAGES/user_guide/mpc_ml/decision_tree.po
  docs/locales/zh_CN/LC_MESSAGES/user_guide/mpc_ml/generalized_linear_model.po
  docs/locales/zh_CN/LC_MESSAGES/user_guide/psi.po
  docs/make.bat
  docs/requirements.txt
  docs/tutorial/Custom_Loss_Federated_Learning_with_Pytorch.ipynb
  docs/update_po.sh
  docs/user_guide/federated_learning/horizontal_federated_learning/fl_model.rst
  docs/user_guide/federated_learning/mix_federated_learning.rst
  docs/user_guide/federated_learning/vertical_federated_learning/split_learning.rst
  docs/user_guide/mpc_ml/decision_tree.rst
  docs/user_guide/mpc_ml/generalized_linear_model.rst
  docs/user_guide/psi.rst
Due: none

try reduce ci size
  .circleci/continue-config.yml
  .circleci/release-config.yml
Due: base

limit nn parallel
  .circleci/continue-config.yml
  .circleci/release-config.yml
  MODULE.bazel
  MODULE.bazel.lock
Due: base

change
  examples/app/v_recommendation/dcn_split/main.ipynb
Due: none

2xlarge for fl
  .circleci/continue-config.yml
Due: base

修改mnist.ipynb文件格式
  examples/app/h_cv/NAS-pFed/mnist.ipynb
Due: none

对jupyter文件进行black处理
  examples/app/v_recommendation/GLORY_split/GLORY_split.ipynb
Due: none

delete the comment
  examples/app/v_recommendation/bahe_bert4rec/model.py
  examples/app/v_recommendation/bahe_bert4rec/sf_model.py
  examples/app/v_recommendation/bahe_bert4rec/train.py
  examples/app/v_recommendation/dcn_split/train.py
Due: none

change
  examples/app/v_recommendation/bahe_bert4rec/model.py
  examples/app/v_recommendation/bahe_bert4rec/train.py
Due: none

【网安项目二期】实现GLORY_split算法 (#1836)
  examples/app/v_recommendation/GLORY_split/GLORY_split.ipynb
  examples/app/v_recommendation/GLORY_split/configs/adressa.yaml
  examples/app/v_recommendation/GLORY_split/configs/dataset/AdressaSmall.yaml
  examples/app/v_recommendation/GLORY_split/configs/dataset/MINDLarge.yaml
  examples/app/v_recommendation/GLORY_split/configs/dataset/MINDsmall.yaml
  examples/app/v_recommendation/GLORY_split/configs/dataset/default.yaml
  examples/app/v_recommendation/GLORY_split/configs/default.yaml
  examples/app/v_recommendation/GLORY_split/configs/large.yaml
  examples/app/v_recommendation/GLORY_split/configs/logger/wandb.yaml
  examples/app/v_recommendation/GLORY_split/configs/model/GLORY.yaml
  examples/app/v_recommendation/GLORY_split/configs/model/default.yaml
  examples/app/v_recommendation/GLORY_split/configs/optimizer/adam.yaml
  examples/app/v_recommendation/GLORY_split/configs/path/default.yaml
  examples/app/v_recommendation/GLORY_split/configs/small.yaml
  examples/app/v_recommendation/GLORY_split/graph/11.png
  examples/app/v_recommendation/GLORY_split/graph/22.png
  examples/app/v_recommendation/GLORY_split/graph/33.png
  examples/app/v_recommendation/GLORY_split/requirements.txt
  examples/app/v_recommendation/GLORY_split/src/dataload/data_load.py
  examples/app/v_recommendation/GLORY_split/src/dataload/data_preprocess.py
  examples/app/v_recommendation/GLORY_split/src/dataload/dataset.py
  examples/app/v_recommendation/GLORY_split/src/main.py
  examples/app/v_recommendation/GLORY_split/src/models/GLORYSplit.py
  examples/app/v_recommendation/GLORY_split/src/models/base/function.py
  examples/app/v_recommendation/GLORY_split/src/models/base/layers.py
  examples/app/v_recommendation/GLORY_split/src/models/component/candidate_encoder.py
  examples/app/v_recommendation/GLORY_split/src/models/component/click_encoder.py
  examples/app/v_recommendation/GLORY_split/src/models/component/entity_encoder.py
  examples/app/v_recommendation/GLORY_split/src/models/component/nce_loss.py
  examples/app/v_recommendation/GLORY_split/src/models/component/news_encoder.py
  examples/app/v_recommendation/GLORY_split/src/models/component/user_encoder.py
  examples/app/v_recommendation/GLORY_split/src/utils/common.py
  examples/app/v_recommendation/GLORY_split/src/utils/metrics.py
Due: none

【网安二期】基于secretflow框架的NAS-pFed算法实现 (#1843)
  examples/app/h_cv/NAS-pFed/README.md
  examples/app/h_cv/NAS-pFed/cifar10.py
  examples/app/h_cv/NAS-pFed/cifar100.py
  examples/app/h_cv/NAS-pFed/darts/architect.py
  examples/app/h_cv/NAS-pFed/darts/genotypes.py
  examples/app/h_cv/NAS-pFed/darts/model.py
  examples/app/h_cv/NAS-pFed/darts/model_search.py
  examples/app/h_cv/NAS-pFed/darts/operations.py
  examples/app/h_cv/NAS-pFed/darts/utils.py
  examples/app/h_cv/NAS-pFed/darts/visualize.py
  examples/app/h_cv/NAS-pFed/dataSplit/cifar10/cifar10.py
  examples/app/h_cv/NAS-pFed/dataSplit/cifar100/cifar100.py
  examples/app/h_cv/NAS-pFed/dataSplit/mnist/mnist.py
  examples/app/h_cv/NAS-pFed/mnist.ipynb
  examples/app/h_cv/NAS-pFed/mnist.py
  examples/app/h_cv/NAS-pFed/model/Client.py
  examples/app/h_cv/NAS-pFed/model/Server.py
Due: none

add dcn_model and bahe_bert4rec_model (#1829)
  examples/app/v_recommendation/bahe_bert4rec/dataset.py
  examples/app/v_recommendation/bahe_bert4rec/main.ipynb
  examples/app/v_recommendation/bahe_bert4rec/model.py
  examples/app/v_recommendation/bahe_bert4rec/sf_dataset.py
  examples/app/v_recommendation/bahe_bert4rec/sf_model.py
  examples/app/v_recommendation/bahe_bert4rec/sf_train.py
  examples/app/v_recommendation/bahe_bert4rec/train.py
  examples/app/v_recommendation/dcn_split/client.py
  examples/app/v_recommendation/dcn_split/layer.py
  examples/app/v_recommendation/dcn_split/main.ipynb
  examples/app/v_recommendation/dcn_split/server.py
  examples/app/v_recommendation/dcn_split/sl_dcn_torch.py
  examples/app/v_recommendation/dcn_split/train.py
  examples/app/v_recommendation/dcn_split/utils.py
Due: none

Delete docs/awesome-pets directory
  docs/awesome-pets/awesome-pets.md
  docs/awesome-pets/papers/applications/aml/attack_defense.md
  docs/awesome-pets/papers/applications/aml/poison.md
  docs/awesome-pets/papers/applications/multimedia/attack.md
  docs/awesome-pets/papers/applications/multimedia/defense.md
  docs/awesome-pets/papers/applications/multimedia/summary.md
  docs/awesome-pets/papers/applications/ppml/fl/Effectiveness.md
  docs/awesome-pets/papers/applications/ppml/fl/Efficiency.md
  docs/awesome-pets/papers/applications/ppml/fl/application.md
  docs/awesome-pets/papers/applications/ppml/fl/boosting.md
  docs/awesome-pets/papers/applications/ppml/fl/datasets.md
  docs/awesome-pets/papers/applications/ppml/fl/fl.md
  docs/awesome-pets/papers/applications/ppml/fl/incentive.md
  docs/awesome-pets/papers/applications/ppml/fl/survey.md
  docs/awesome-pets/papers/applications/ppml/fl/vertical.md
  docs/awesome-pets/papers/applications/ppml/ppml_crypto.md
  docs/awesome-pets/papers/applications/ppml/ppml_dp.md
  docs/awesome-pets/papers/applications/ppml/sl.md
  docs/awesome-pets/papers/applications/set/pir.md
  docs/awesome-pets/papers/applications/set/psi.md
  docs/awesome-pets/papers/applications/set/psu.md
  docs/awesome-pets/papers/fl.md
  docs/awesome-pets/papers/secretflow.md
  docs/awesome-pets/papers/tools/dp.md
  docs/awesome-pets/papers/tools/fe.md
  docs/awesome-pets/papers/tools/he.md
  docs/awesome-pets/papers/tools/mpc.md
  docs/awesome-pets/papers/tools/tee.md
  docs/awesome-pets/papers/tools/tpm.md
  docs/awesome-pets/papers/tools/zkp.md
  docs/awesome-pets/tutorials/crypto-beginner.md
  docs/awesome-pets/tutorials/posts.md
  docs/awesome-pets/tutorials/talks.md
Due: none

docs：删除报错语句并验证 lr_with_spu.ipynb，
  docs/tutorial/lr_with_spu.ipynb
Due: none

删除 lr_with_spu.ipynb 中的冗余错误输出，更新日志信息以提高可读性
  docs/tutorial/lr_with_spu.ipynb
Due: none

使用try except 结构修复sf.shutdown() 带来的报错
  docs/tutorial/lr_with_spu.ipynb
Due: none

【OSCP Docs】 验证文档「使用 SPU 进行逻辑回归」 (#1900)
  docs/tutorial/lr_with_spu.ipynb
Due: none

Remove some inaccurate benchmark results
  docs/developer/benchmark/psi_benchmark.md
Due: none

fix:wrong variable name
  docs/locales/zh_CN/LC_MESSAGES/tutorial/spu_basics.po
Due: none

update
  docs/developer/benchmark/psi_benchmark.md
Due: none

chore(docs): vendor in poedit img
  docs/CONTRIBUTING.md
  docs/_static/CONTRIBUTING/poedit.png
Due: none

fix:add try-except;introduce ray to solve store limit
  docs/tutorial/ss_glm.ipynb
Due: none

chore: update config for docs (#1893)
  README.md
  README.zh-CN.md
  docs/CONTRIBUTING.md
  docs/Makefile
  docs/_static/CONTRIBUTING/poedit.png
  docs/_static/CONTRIBUTING/preview-content.png
  docs/_static/CONTRIBUTING/preview-sitemap.png
  docs/api/index.rst
  docs/build.sh
  docs/component/comp_guide.rst
  docs/conf.py
  docs/developer/algorithm/secure_aggregation.ipynb
  docs/locales/zh_CN/LC_MESSAGES/user_guide/federated_learning/horizontal_federated_learning/fl_model.po
  docs/locales/zh_CN/LC_MESSAGES/user_guide/federated_learning/mix_federated_learning.po
  docs/locales/zh_CN/LC_MESSAGES/user_guide/federated_learning/vertical_federated_learning/split_learning.po
  docs/locales/zh_CN/LC_MESSAGES/user_guide/mpc_ml/decision_tree.po
  docs/locales/zh_CN/LC_MESSAGES/user_guide/mpc_ml/generalized_linear_model.po
  docs/locales/zh_CN/LC_MESSAGES/user_guide/psi.po
  docs/make.bat
  docs/requirements.txt
  docs/tutorial/Custom_Loss_Federated_Learning_with_Pytorch.ipynb
  docs/update_po.sh
  docs/user_guide/federated_learning/horizontal_federated_learning/fl_model.rst
  docs/user_guide/federated_learning/mix_federated_learning.rst
  docs/user_guide/federated_learning/vertical_federated_learning/split_learning.rst
  docs/user_guide/mpc_ml/decision_tree.rst
  docs/user_guide/mpc_ml/generalized_linear_model.rst
  docs/user_guide/psi.rst
Due: none

fix: add try-except;introduce ray to solve store limit
  docs/tutorial/ss_glm.ipynb
Due: none

update driver.py (#1888)
  secretflow/device/driver.py
Due: infra, sf_any

reverse circle ci release
  .circleci/release-config.yml
Due: none

delete liac-arff
  dev-requirements.txt
Due: base

delete useless pytest options
  .circleci/continue-config.yml
Due: base

brew install protobuf, drop protobuf@3
  .circleci/continue-config.yml
Due: base

Add split learning sim_lia method (IEEE2024) (#1858)
  benchmark_examples/autoattack/applications/image/cifar10/cifar10_base.py
  benchmark_examples/autoattack/attacks/__init__.py
  benchmark_examples/autoattack/attacks/sim_lia.py
  benchmark_examples/autoattack/main.py
  secretflow_fl/ml/nn/sl/attacks/sim_lia_torch.py
  tests/ml/nn/sl/attack/test_torch_sim_lia.py
Due: sf_fl, test_ml, test_ml_nn, test_any

add pytest plugin
  dev-requirements.txt
Due: base

make pytest exit 5 ok
  .circleci/continue-config.yml
Due: base

reformat
  .circleci/continue-config.yml
Due: base

buf fix
  tests/fl/ml/nn/sl/attack/test_torch_sdar.py
Due: test_any

use half cpu cores current
  .circleci/continue-config.yml
Due: base

Path conditions:
  base: ((((((any of: secretflow_lib/.*) or (any of: WORKSPACE)) or (any of: .bazelrc)) or (any of: requirements.txt)) or (any of: dev-requirements.txt)) or (any of: circleci/continue-config.yml)) or (any of: .circleci/continue-config.yml)
  infra: (((((any of: secretflow/data/.*) or (any of: secretflow/device/.*)) or (any of: secretflow/distributed/.*)) or (any of: secreflow/kuscia/.*)) or (any of: secretflow/security/.*)) or (any of: secretflow/utils/.*)
  sf_maths: any of: secretflow/maths/.*
  sf_ml: any of: secretflow/ml/.*
  sf_preprocessing: any of: secretflow/preprocessing/.*
  sf_stats: any of: secretflow/stats/.*
  sf_component: any of: secretflow/component/.*
  sf_any: any of: secretflow/.*
  sf_fl: any of: secretflow_fl/.*
  test_ml: any of: tests/ml/.*
  test_ml_nn: any of: tests/ml/nn/.*
  test_preprocessing: any of: tests/preprocessing/.*
  test_stats: any of: tests/stats/.*
  test_infra: ((((any of: tests/data/.*) or (any of: tests/device/.*)) or (any of: tests/security/.*)) or (any of: tests/utils/.*)) or (any of: tests/kuscia/.*)
  test_component: any of: tests/component/.*
  test_any: any of: tests/.*
